.avatar {
  position: relative;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
